html,
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #7c3e0b;
  color: #fff;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.gallery {
  background: #fff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0 auto;
  padding: 1rem;
}

.imagen {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  height: 50vh;
  width: auto;
  transition: all 0.5s;
}

h1 {
  display: inline;
  text-align: center;
  margin: 2rem auto;
}

span {
  display: block;
  background: #e2171725;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.3rem;
  margin: 0.5rem auto;
  margin-top: -3rem;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  width: 20rem;
}
